[Desktop Entry]
Name=Set CPU speed
Comment=Under or overclock your OpenPandora CPU.
StartupNotify=false
Exec=/usr/pandora/scripts/op_cpuspeed.sh
Icon=Terminal
Terminal=false
Type=Application
Categories=System;
