[Desktop Entry]
Name=Select the default GUI
Comment=Change the default OpenPandora GUI.
StartupNotify=false
Exec=/usr/pandora/scripts/op_defaultgui.sh
Icon=krfb
Terminal=false
Type=Application
Categories=Settings;
