[Desktop Entry]
Name=Switch GUI
Comment=Switch to a different GUI.
StartupNotify=false
Exec=/usr/pandora/scripts/op_switchgui.sh
Icon=Terminal
Terminal=false
Type=Application
Categories=System;
