[Desktop Entry]
Name=Usermanager
Comment=A very simple usermanager
StartupNotify=false
Exec=gksudo /usr/pandora/scripts/op_usermanager.sh
Icon=Terminal
Terminal=false
Type=Application
Categories=System;
