[Desktop Entry]
Name=Toggle WiFi
Comment=Toggle the status of the WiFi chip.
StartupNotify=false
Exec=sudo /usr/pandora/scripts/op_wifi.sh
Icon=Terminal
Terminal=false
Type=Application
Categories=System;
